<%= form_tag '/add' do %>
  <label>Item</label><br>
  <%= text_field_tag 'product' %><br>

  <%= submit_tag "add to cart" %>
<% end %>


<p>Your Cart:</p>
<% if session[:cart] %>
  <% session[:cart].each do |item| %>
    <%="#{item}" %>
  <% end %>
<% end %>
